@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home">
    <div class="billboard">
        <img src="~/img/billboard.jpg"/>
        <div class="overlay">
            <h1>Catch' a Ride Here, Folks</h1>
        </div>
    </div>

    <div class="comment">
        <h1>What Clients Says:</h1>
        <div class="box">
            <p >Car in nice condition. <br><B>-Raferto</B></p>
        </div>

        <div class="box">
            <p>great car. <br><B>-Elby</B></p>
        </div>

        <div class="box">
            <p>This is a comment :v <br><B>-Pipu</B></p>
        </div>
    </div>
</div>
