@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Identity
@using quiz2.Areas.Identity.Data

@inject SignInManager<UserApplication> SignInManager
@inject UserManager<UserApplication> UserManager

<div class="text-center">

    @if (SignInManager.IsSignedIn(User))
    {

        var CurrentUser = UserManager.GetUserName(User);
        <h1 class="display-4">Welcome To Our Website, @CurrentUser!</h1>
    }
    else
    {
        <h1 class="display-4">Welcome To Our Website</h1>
    }

    <div class="home">
        <div class="billboard">
            <img src="~/img/billboard.jpg" />
            <div class="overlay">
                <h1>Catch' a Ride Here, Folks</h1>
            </div>
        </div>

        <div class="comment">
            <h1>What Clients Says:</h1>
            <div class="box">
                <p>Car in nice condition. <br><B>-Raferto</B></p>
            </div>

            <div class="box">
                <p>great car. <br><B>-Elby</B></p>
            </div>

            <div class="box">
                <p>This is a comment :v <br><B>-Pipu</B></p>
            </div>
        </div>
    </div>

</div>

